# Virtual environment
venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Package build artifacts
*.egg-info/
build/
dist/

# Tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store
Thumbs.db
